<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tin Tức</title>
    <link rel="stylesheet" href="dungchung.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="tintuc.css">
</head>

<body>
    <!--HEADER-->
    <header id="#top">
        <a href="!#"><img src="../assets/images/logo.png" alt="Freeeze" id="#logo"></a>
        <div class="image-group">
            <img src="../assets/images/header-img1.png" alt="">
            <img src="../assets/images/header-img2.png" alt="">
            <img src="../assets/images/header-img3.png" alt="">
        </div>
        <nav>
            <ul class="menu">
                <li class="menu-item"><a href="trangchu.html">Trang Chủ</a></li>
                <li class="menu-item"><a href="gioithieu.html">Giới Thiệu</a></li>
                <li class="menu-item"><a href="./sanpham.html">Sản Phẩm</a></li>
                <li class="menu-item"><a href="tintuc.html">Tin Tức</a></li>
                <li class="menu-item"><a href="dangnhap.html">Đăng Nhập</a></li>
                <li class="menu-item"><a href="dangky.html">Đăng Ký</a></li>
                <li class="menu-item"><a href="lienhe.html">Liên Hệ</a></li>
            </ul>
        </nav>
        <div class="seach-group">
            <form action="">
                <input type="text" placeholder="Nhập nội dung cần tìm...">
            </form>
            <button type="submit"><i class="fa-solid fa-magnifying-glass seach"></i></button>
            <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
    </header>
    <main>
        <article>
            <div class="tintuc">
                <h1>TIN TỨC</h1>
                <div class="tintuc-item tt1">
                    <h2>LỘ DIỆN SIÊU NĂNG LỰC TỪ TRÁI XOÀI!</h2>
                    <img src="../assets/images/tintuc/news1.jpg" alt="">
                    <p class="desc">Xoài là một trong những cây ăn trái chủ lực của đồng bằng sông Cửu Long (ĐBSCL),
                        chiếm khoảng 48% tổng diện tích xoài cả nước. Trong đó, tỉnh Đồng Tháp hiện có diện tích trồng
                        xoài khoảng 12.171ha - lớn nhất vùng ĐBSCL với sản lượng hàng năm gần 124 ngàn tấn.<a href="">
                            Xem
                            chi tiết</a></p>
                </div>
                <div class="tintuc-item tt2">
                    <h2>SỮA CÁC LOẠI HẠT-MÓN NGON CHO HỆ MIỄN DỊCH KHOẺ</h2>
                    <img src="../assets/images/tintuc/news2.jpg" alt="">
                    <p class="desc">Xoài là một trong những cây ăn trái chủ lực của đồng bằng sông Cửu Long (ĐBSCL),
                        chiếm khoảng 48% tổng diện tích xoài cả nước. Trong đó, tỉnh Đồng Tháp hiện có diện tích trồng
                        xoài khoảng 12.171ha - lớn nhất vùng ĐBSCL với sản lượng hàng năm gần 124 ngàn tấn.<a href="">
                            Xem
                            chi tiết</a></p>
                </div>
                <div class="tintuc-item tt3">
                    <h2>SỮA CHUA KIWI – MÓN QUÀ CHO SỨC KHỎE</h2>
                    <img src="../assets/images/tintuc/news3.jpg" alt="">
                    <p class="desc">Xoài là một trong những cây ăn trái chủ lực của đồng bằng sông Cửu Long (ĐBSCL),
                        chiếm khoảng 48% tổng diện tích xoài cả nước. Trong đó, tỉnh Đồng Tháp hiện có diện tích trồng
                        xoài khoảng 12.171ha - lớn nhất vùng ĐBSCL với sản lượng hàng năm gần 124 ngàn tấn.<a href="">
                            Xem
                            chi tiết</a></p>
                </div>
                <div class="tintuc-item tt4">
                    <h2>RA MẮT APP SỮA CHUA Freeeze TRÊN NỀN TẢNG IOS</h2>
                    <img src="../assets/images/tintuc/news4.jpg" alt="">
                    <p class="desc">Xoài là một trong những cây ăn trái chủ lực của đồng bằng sông Cửu Long (ĐBSCL),
                        chiếm khoảng 48% tổng diện tích xoài cả nước. Trong đó, tỉnh Đồng Tháp hiện có diện tích trồng
                        xoài khoảng 12.171ha - lớn nhất vùng ĐBSCL với sản lượng hàng năm gần 124 ngàn tấn.<a href="">
                            Xem
                            chi tiết</a></p>
                </div>
                <div class="tintuc-item tt5">
                    <h2>ĐĂNG KÝ THÀNH VIÊN – NHẬN NGAY ƯU ĐÃI</h2>
                    <img src="../assets/images/tintuc/news5.jpg" alt="">
                    <p class="desc">Xoài là một trong những cây ăn trái chủ lực của đồng bằng sông Cửu Long (ĐBSCL),
                        chiếm khoảng 48% tổng diện tích xoài cả nước. Trong đó, tỉnh Đồng Tháp hiện có diện tích trồng
                        xoài khoảng 12.171ha - lớn nhất vùng ĐBSCL với sản lượng hàng năm gần 124 ngàn tấn.<a href="">
                            Xem
                            chi tiết</a></p>
                </div>
                <div class="tintuc-item tt6">
                    <h2>TUYỂN GIÁM SÁT CHUỖI CỬA HÀNG</h2>
                    <img src="../assets/images/tintuc/news6.jpg" alt="">
                    <p class="desc">Xoài là một trong những cây ăn trái chủ lực của đồng bằng sông Cửu Long (ĐBSCL),
                        chiếm khoảng 48% tổng diện tích xoài cả nước. Trong đó, tỉnh Đồng Tháp hiện có diện tích trồng
                        xoài khoảng 12.171ha - lớn nhất vùng ĐBSCL với sản lượng hàng năm gần 124 ngàn tấn.<a href="">
                            Xem
                            chi tiết</a></p>
                </div>

            </div>
            <div class="ttduocquantam">
                <h1>ĐƯỢC QUAN TÂM</h1>
                <img src="../assets/images/tintuc/hotnews.jpg" alt="">
                <h2>KHAI TRƯƠNG HÂN HOAN – ƯU ĐÃI NGẬP TRÀN</h2>
                <p class="desc">Khai trương hân hoan – ưu đãi ngập tràn 🌈 🥰Thêm 1 ngôi nhà mới của Sữa chua Freeeze
                    được khai trương<a href="">
                        Xem
                        chi tiết</a></p>
            </div>

        </article>

    </main>
    <footer>
        <p>&copy; Bản quyền thuộc về FreeezeVN</p>
        <div class="social"><a href="#!" class="facebock"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#!" class="twitter"><i class="fa-brands fa-twitter"></i></a>
            <a href="#!" class="pinterest"><i class="fa-brands fa-pinterest"></i></a>
        </div>
        <a href="#top" class="go-top"><img src="../assets/images/top.png" alt=""></a>
    </footer>

</body>

</html>