<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chu</title>
    <link rel="stylesheet" href="./trangchu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="dungchung.css">
</head>

<body>
    <!--HEADER-->
    <header id="#top">
        <a href="!#"><img src="../assets/images/logo.png" alt="Freeeze" id="#logo"></a>
        <div class="image-group">
            <img src="../assets/images/header-img1.png" alt="">
            <img src="../assets/images/header-img2.png" alt="">
            <img src="../assets/images/header-img3.png" alt="">
        </div>
        <nav>
            <ul class="menu">
                <li class="menu-item"><a href="trangchu.html">Trang Chủ</a></li>
                <li class="menu-item"><a href="gioithieu.html">Giới Thiệu</a></li>
                <li class="menu-item"><a href="./sanpham.html">Sản Phẩm</a></li>
                <li class="menu-item"><a href="tintuc.html">Tin Tức</a></li>
                <li class="menu-item"><a href="dangnhap.html">Đăng Nhập</a></li>
                <li class="menu-item"><a href="dangky.html">Đăng Ký</a></li>
                <li class="menu-item"><a href="lienhe.html">Liên Hệ</a></li>
            </ul>
        </nav>
        <div class="seach-group">
            <form action="">
                <input type="text" placeholder="Nhập nội dung cần tìm...">
            </form>
            <button type="submit"><i class="fa-solid fa-magnifying-glass seach"></i></button>
            <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
    </header>
    <main>
        <article>
            <img class="bg-home" src="../assets/images/trangchu/bg-home.jpg">
            <!--SAN PHAM MOI-->
            <div class="sphammoi">
                <h1 class="sp-moi-title">Sản Phẩm Mới</h1>
                <div class="info">
                    <h2 class="sc-tot">Sữa chua tốt cho sức khỏe</h2>
                    <div class="desc-group">
                        <img src="../assets/images/trangchu/yogurt.jpg" alt="" class="yogurt">
                        <p class="suachu-totchosuckhoe">Sữa chua là một loại thực phẩm được tạo ra từ quá trình lên men
                            sữa
                            của
                            các
                            vi
                            khuẩn. Hầu hết các loại sữa đều có thể dùng làm sữa chua, tuy nhiên sữa bò là được dùng
                            nhiều
                            hơn
                            hết.
                            Sữa
                            chua hay được gọi là yaourt (là da-ua). Chúng được lên men từ sữa động vật nhờ vi khuẩn
                            lactic,
                            đã
                            được
                            khử
                            chất béo và thanh trùng ở nhiệt độ 80 - 90 độ C.Sữa chua có 2 loại cơ bản là sữa chua có
                            đường
                            và
                            sữa
                            chua
                            không đường. Bên cạnh đó còn có loại sữa chua uống, sữa chua men sống. Váng sữa thường được
                            chia
                            làm
                            3
                            loại
                            dựa vào hàm lượng chất béo có trong sản phẩm: váng sữa có hàm lượng chất béo cao nhất
                            (35-50%
                            chất
                            béo),
                            váng sữa thông thường (10-30% chất béo), váng sữa nguyên kem (6-15% chất béo).<a
                                href="!#">Xem
                                chi tiết</a>
                        </p>
                    </div>
                </div>
            </div>
            <!--GOC THANH VIEN-->
            <div class="gocthanhvien">
                <h1 class="goctv">Góc Thành Viên</h1>
                <h2 class="sc-lamnha">Sữa Chua Làm Nhà</h2>
                <div class="info">
                    <p class="desc">Học làm sữa chua tại gia cùng chuyên gia.Trong thực đơn dinh dưỡng của các bà mẹ cho
                        con
                        trẻ và
                        các thành viên trong gia đình đều không thể thiếu món sữa chua thơm ngon, hấp dẫn và cực kì tốt
                        cho
                        sức
                        khỏe
                        này. Tuy nhiên, đa phần đều chọn mua sữa chua công nghiệp đã được đóng hộp bán sẵn tại các siêu
                        thị
                        và
                        cửa
                        hàng hơn là sữa chua tự làm tại nhà. Như vậy, liệu sữa chua nhà làm và sữa chua công nghiệp thì
                        loại
                        nào
                        tốt
                        sức khỏe của chúng ta hơn? Nếu là một người yêu thích nấu ăn bạn sẽ chọn sữa nhà làm hay mua sữa
                        chua
                        công
                        nghiệp bên ngoài. Sữa chua nhà làm đảm bảo về độ an toàn, chất lượng cũng như giá thành rẻ. <a
                            href="!#">Xem
                            chi tiết</a>
                    </p>
                    <video src="../assets/images/trangchu/yogurt.mp4" height="250" width="300" controls></video>
                </div>

            </div>
            <!--HD LAM SUA CHUA-->
            <div class="hd-thuchien">
                <h2 class="hd-lamsc">Hướng Dẫn Làm Sữa Chua Không Đường</h2>
                <div class="detail">
                    <h3 class="nguyenlieu-title">Nguyên liệu làm sữa chua không đường</h3>
                    <ul class="nguyenlieu-chitiet">
                        <li>1 lít sữa tươi không đường</li>
                        <li>1 hộp sữa chua men cái không đường (bạn có thể mua sữa chua đóng hộp không đường như
                            Vinamilk,
                            TH
                            True
                            Milk,...)</li>
                        <li>Dụng cụ nấu và ủ sữa chua</li>
                    </ul>
                    <h3 class="buocth">Các bước thực hiện</h3>
                    <ol class="buocth-chitiet">
                        <li>Cho sữa chua không đường vào nồi, đun nóng lên và khuấy đều, nhẹ tay theo 1 chiều. Tới khi
                            sữa
                            đạt
                            khoảng 40 độ C thì tắt bếp. Bạn có thể dùng tay để kiểm tra, thấy sữa ấm vừa phải là được
                        </li>
                        <li>Đổ hộp sữa chua làm men cái vào và khuấy đều, múc vào hũ và đem đi ủ 6-8 tiếng</li>
                        <li>Sau khi ủ xong, bạn có thể dùng 1 hũ sữa chua vừa ủ để ăn thử, nếu thấy đạt vị sữa chua rồi
                            có
                            thể
                            bảo quản trong ngăn mát tủ lạnh và thưởng thức dần nhé</li>
                    </ol>
                </div>
            </div>
            <!--DAT HANG-->
            <div class="dathang">
                <h2 class="dathangngay">Đặt Hàng Ngay</h2>
                <ul>
                    <li><img src="../assets/images/trangchu/order_1.png" alt=""><span>Gọi Điện</span></li>
                    <li><img src="../assets/images/trangchu/order_2.png" alt=""><span>Đặt Hàng</span></li>
                    <li><img src="../assets/images/trangchu/order_3.png" alt=""><span>Nhận Hàng</span></li>
                    <li><img src="../assets/images/trangchu/order_4.png" alt=""><span>Thanh Toán</span></li>
                </ul>
            </div>
        </article>

    </main>
    <footer>
        <p>&copy; Bản quyền thuộc về FreeezeVN</p>
        <div class="social"><a href="#!" class="facebock"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#!" class="twitter"><i class="fa-brands fa-twitter"></i></a>
            <a href="#!" class="pinterest"><i class="fa-brands fa-pinterest"></i></a>
        </div>
        <a href="#top" class="go-top"><img src="../assets/images/top.png" alt=""></a>
    </footer>

</body>

</html>